@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/* .wrapper {
  max-width: 144rem;
  margin: 0 auto;
  
  background-color: #f6f6f6;
} */
/* .wrapper.dark{
  background-color: black;
} */
.container h1 {
  text-align: center;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4.536rem;
  padding-top: 6.5rem;
  padding-bottom: 4.5rem;
}
.container p {
  margin: 0 auto;
  max-width: 112rem;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.4rem;
}
.grid-about {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid-width {
  max-width: 114rem;
  margin: 0 auto;
  padding-left: 1rem;
  margin-top: 6.2rem;
}
.brain-img img {
  max-width: 31.7rem;
  height: 30.9rem;
}
.brain-img {
  justify-self: center;
}
.team-img img {
  max-width: 35.3rem;
  height: 33.8rem;
}
.team-img {
  align-self: center;
  padding-top: 4.7rem;
  padding-bottom: 10.2rem;
}
.grid-about-h2 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 3.528rem;
  padding-bottom: 1.4rem;
  max-width: 47.8rem;
}
.grid-about-p {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.4rem;
}
.grid-h22 {
  max-width: 50.4rem;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 3.528rem;
  padding-bottom: 1.4rem;
}
.grid-p2 {
  max-width: 53.7rem;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.4rem;
}
.grid-4 {
  align-self: center;
}
.grid-one img {
  display: none;
}
.grid-3 .grid-h22 {
  display: none;
}

/*************
ABOUT BOTTOM
*************/
.about-bottom {
  background-color: #fefefe;

  /* background-color: #e7e6e6; */
  box-shadow: 0px 5px 4px 0px #00000012;
  position: relative;
  z-index: 10;
}

.about-bottom h2 {
  text-align: center;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4.5rem;
  padding: 6.7rem 0 1.5rem 0;
}
/* horizontal line */
.horizontal-line {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.horizontal-line span {
  position: relative;
  display: inline-block;
}

.horizontal-line span:before,
.horizontal-line span:after {
  content: '';
  position: absolute;
  top: 50%;

  height: 0.2rem;

  background: #263238;
}

.hr {
  font-size: 3rem;
  font-weight: 700;
}

.horizontal-line span:before {
  right: 100%;
  /* margin-right: 1.5rem; */
  width: 45.6rem;
}

.horizontal-line span:after {
  left: 100%;
  /* margin-left: ; */
  width: 45.6rem;
}
/****TECH GUY******/
.tech-guy-img {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.3rem;
  margin: 4rem 0 2rem 0;
}
.tech-guy-img h3 {
  max-width: 10.1rem;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.024rem;
}
.tech-guy-img-p {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.72rem;
  max-width: 76.6rem;
  /* color: #19241D; */
  margin: 0 auto;
  letter-spacing: 0.1rem;
}
.connect {
  text-align: center;
}
.connect-h3 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.72rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  padding: 3rem 0 1.6rem 0;
}
.connect-flex {
  display: flex;
  gap: 4.161rem;
  justify-content: center;
  padding-bottom: 3.669rem;
}

/* MOBILE RESPONSIVENESS */

@media (max-width: 768px) {
  .container h1 {
    font-size: 2.8rem;
    font-weight: 700;
  }
  .container,
  .grid-about {
    max-width: 90vw;
    margin: 0 auto;
  }
  .grid-width {
    padding-left: 0;
  }
  .container p {
    font-size: 1.3rem;
    font-weight: 400;
    
  }
.grid-about-p{
  font-size: 1.3rem;
}
  .grid-about-h2 {
    max-width: 18.2rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 2rem;
  }
  .grid-h22 {
    max-width: 18.2rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
  }

  .brain-img img {
    display: none;
  }

  .grid-one img {
    display: block;
    max-width: 23.6rem;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .grid-4 .grid-h22 {
    display: none;
   
  }

  .grid-3 .grid-h22 {
    display: block;
    margin-bottom: 2rem;
  }
  .grid-3 .team-img {
    max-width: 100vw;
    padding: 0;
  }
  .grid-3 .team-img img {
    max-width: 23.6rem;
    height: 23rem;
    margin: 0 auto;
    display: block;
  }

  .grid-p2 {
    padding-bottom: 4.6rem;
    
    font-size: 1.3rem;
    
  }
  .horizontal-line span:before {
    max-width: 45vw;
  }
  .horizontal-line span:after {
    max-width: 45vw;
  }
  .tech-guy-img-p {
    max-width: 90vw;
    font-size: 1.3rem;
    
  }

  /* General styling for all the screen sizes */

  .grid-about {
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .brain-img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

@media (min-width: 768px) and (max-width: 1180px) {
  .container,
  .grid-about {
    max-width: 90vw !important;
    margin: 0 auto;
  
  }

   .horizontal-line span:before {
    max-width: 45vw;
  }
  .horizontal-line span:after {
    max-width: 45vw;
   
}

.tech-guy-img-p{
  max-width: 90vw;
}
}