/*******************************
HERO SECTION
********************************/
.hero {
  background-color: #f6f6f6;

  max-width: 100%;
}

.hero-top {
  max-width: 144rem;
  padding: 9.4rem 8rem 2.3rem 13rem;
}
.hero-bottom-main {
  max-width: 164.367rem;
}
/* .hero-bottom {
  background-image: url(photo/home_page_background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: right;
} */
.hero-bottom-flex {
  display: flex;
  align-items: center;
}

.hero-text {
  text-align: center;
  padding-top: 16.7rem;

  padding-bottom: 3.7rem;
}

/*MOBILE RESPONSIVENESS */
@media (min-width: 769px) and (max-width: 835px) {
  .hero-bottom-flex .dot-img {
    display: none;
  }
}

@media (max-width: 768px) {
  .hero-top h1 {
    font-size: 2.4rem;

    margin-left: 1vw;
  }
  .hero-top {
    display: flex;
    justify-content: center;

    padding-bottom: 7.2rem;
    padding-top: 9.6rem;
    width: 100%;
    padding-left: unset;
    padding-right: unset;
    box-sizing: border-box;
  }

  .hero-top p {
    display: none;
  }
  .hero-bottom-flex .dot-img {
    display: none;
  }
  .hero-bottom-main {
    position: relative;
  }

  .hero-text {
    margin: 0;
  }
  .hero-bottom {
    background-image: url(photo/home_page_background.svg);
    background-repeat: no-repeat;

    background-size: cover;
    background-position-x: right;
  }
}
@media (768px <= width <= 1024px) {
  .hero-top h1,
  .hero-top p {
    margin: 0 auto;
    text-align: center;
  }
}
