/*******************************
HERO SECTION
********************************/
.hero {
  /* background-color: #f9fafb; */
  background-color: #f6f6f6;
  max-width: 100%;
}

.hero-top {
  max-width: 144rem;
  padding: 9.4rem 8rem 2.3rem 13rem;
}
.hero-bottom-main {
  max-width: 164.367rem;
}
.hero-bottom {
  background-image: url(src/assets/homepagebackground.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: right;

  /* margin: 0 auto; */
}
.hero-bottom-flex {
  /* max-width: 164.367rem; */
  max-width: 144rem;
  display: flex;
  align-items: center;
  /* margin: 0 auto; */
}

.hero-text {
  text-align: center;
  padding-top: 16.7rem;

  padding-bottom: 3.7rem;
}

/*MOBILE RESPONSIVENESS */
@media(min-width: 769px) and (max-width: 835px){
  .hero-bottom-flex .dot-img{
    display: none;
  }
 }


@media (max-width: 768px) {
  .hero-top h1 {
    font-size: 2.4rem;
    /* width: 26.7rem; */
    text-align: center;
    padding-top: 9.6rem;
    padding-left: 8.2rem;
    padding-bottom: 7.2rem;
    padding-right: 8.1rem;
  }
  .hero-top {
    padding: 0;
   
    margin: 0 auto;
  }
  /* .hero-bottom-flex{
    padding-top: 9.6rem;
    padding-left: 8.2rem;
    padding-bottom: 7.2rem;
    padding-right: 8.1rem;
  } */

  .hero-top p {
    display: none;
  }
  .hero-bottom-flex .dot-img {
    display: none;
  }
  .hero-bottom-main {
    position: relative;
  }

  /* .card {
    display: ;
  } */

  .hero-text {
    margin: 0;
  }
  .hero-bottom {
    background-image: url(src/assets/homepagebackground.svg);
    background-repeat: no-repeat;

    background-size: cover;
    background-position-x: right;
    
  }
}
@media(768px <= width <= 1024px){
  .hero-top h1, .hero-top p{
    margin: 0 auto;
    text-align: center;
  }
}
@media(max-width: 393px){
  
  .hero-top h1{
    margin: 0 auto;
    font-size: 6vw;
   padding-left: 5rem;
  }
}